<div class="background">
        <img id="chyt-xs" src="{{ "img/background/all.svg"| absURL }}" />
        <div class="chyt">
          <img id="chyt01i" src="{{ "img/background/chyt01.svg"| absURL }}" />
          <img id="chyt02i" src="{{ "img/background/chyt02.svg"| absURL }}" />
          <img id="chyt03i" src="{{ "img/background/chyt03.svg"| absURL }}" />
          <img id="chyt04i" src="{{ "img/background/chyt04.svg"| absURL }}" />
          <img id="chyt05i" src="{{ "img/background/chyt05.svg"| absURL }}" />
          <img id="chyt06i" src="{{ "img/background/chyt06.svg"| absURL }}" />
          <img id="chyt07i" src="{{ "img/background/chyt07.svg"| absURL }}" />
          <img id="chyt08i" src="{{ "img/background/chyt08.svg"| absURL }}" />
          <img id="chyt09i" src="{{ "img/background/chyt09.svg"| absURL }}" />
          <img id="chyt10i" src="{{ "img/background/chyt10.svg"| absURL }}" />
        </div>
</div>