<div class="modal" id="la_modal" style="display:none">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Prihláška</h4>
        </div>
        <div class="modal-body">
            <p>Prosíme, pozorne si prečítajte stručné pravidlá.</p>
            <b>Dochádzka:</b>
            <ol>
                <li>Bez schválenia vyplnenej prihlášky Lezeckou akadémiou <b>nemôže inštruktor prijať dieťa na
                        tréning</b>.</li>
                <li>Účastník tréningu <b>vstupuje do lezeckého centra najskôr 15 min pred začiatkom tréningu</b>,
                    po prezlečení, <b>čaká na inštruktora</b> na lavičke pred recepciou centra.</li>
                <li>Po tréningu <b>do 15 minút opúšťa lezecké centrum</b>.</li>
                <li>Ak mešká viac ako 10 min, stráca nárok zapojiť sa do tréningu.</li>
                <li>Ak musí dieťa odísť z tréningu pred jeho skončením, upovedomí rodič trénera na začiatku
                    tréningu.</li>
            </ol>
            <b>Vymeškanie tréningov:</b>
            <p>Za vymeškané tréningy vzniká možnosť náhrady, iba ak nahlásite <b>neúčasť aspoň 24 hodín pred
                    začatím tréningu</b>.</p>
            <b>Platby:</b>
            <p>Tréningy treba uhradiť do začiatku prvého tréningu vopred za celý polrok.
                Plné znenie pravidiel nájdete <a class="downloadlink" href="../rules">tu</a>.</p>
        </div>
            <div>
                <a id="downloadBeg" class="downloadlink" href="../../resources/applications/zaciatocnici.xlsx">Súhlasím, stiahnuť
                    prihlášku</a>
                <a id="downloadInt" class="downloadlink" href="../../resources/applications/miernepokrocili.xlsx">Súhlasím, stiahnuť
                    prihlášku</a>
            </div>
            <div>
                <button id="myclose" type="button" onclick="closePopup()">Zavrieť</button>
            </div>
    </div>
</div>